# ==============================
# Gradle
# ==============================
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml
out/

# ==============================
# Eclipse / STS
# ==============================
.settings/
bin/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary / swap files
# ==============================
*.tmp
*.swp
*.bak

# ==============================
# Java / Spring Boot
# ==============================
*.class
*.jar
*.war
*.ear
spring-boot-app.pid

# ==============================
# Environment variables
# ==============================
.env